* {
    box-sizing: border-box;
  }

html{
    font-size: 16px;
}



body{
    font-family: 'arial';
    margin: 0;
    font-size: inherit;
    background-color: lightblue;
    color: gray;
}

ul,
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100;
}

container{
    max-width: 115rem;
    margin: 0 auto;
}

.hamburger{
    display:none;
}
.menu .top{
    display: none;
}

.flex-content{
    display: flex;
    align-items: center;
}
.navigation{
    height: 7rem;
    justify-content: space-between;
}

.logo{
    padding: orem 1.5rem;
    color: gray;
}
.nav-link{
    padding: 0 1rem;
    transition: all 300ms ease-in-out;

}

.nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-item:first-child .nav-link{
    color: orange;
}
.nav-link:hover{
    color: orange;
}
.showcase{
    height: calc(100vh -7rem);
    background-color: rgb(196, 173, 130);
    overflow: hidden;
}
.showcase-content .left h4{
    font-weight: 400;
    margin-top: 2rem;
}
.btn{
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 1.3rem 5rem;
    font-weight: 600;
    margin-top: 4rem;
    border-radius: 5rem;
}
.btn:hover{
    background-color: rgb(26, 18, 4);
    color: gray;
    transition: all 500ms ease-in-out;
}
.shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(157, 80, 13);
    clip-path: circle(600px at right 850px)
}
.title h1, h3{
    font-weight: 400;
}
.title{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 600;
}
.visit-link{
    font-size: 1.7rem;
    color: blue;
}
.skill-center{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;
}
.section .skill{
    border: 1px 
}
.contact{
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}
.form{
    background-color: rgb(122, 150, 141);
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 1px 5px 5px 2px  rgb(red, green, blue);
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    background-color: white;
    padding: 6rem 1rem;
    line-height: 3rm;
    margin-top: 5rem;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#myskills{
    text-align: center;
}

#ProjectTwo{
    text-align: center;
}